<html lang="en">
<head>
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script type="text/javascript" src ="http://code.jquery.com/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="PlantApp" ng-cloak>

<md-toolbar>
<div class="md-toolbar-tools">
	<md-button class="md-icon-button" aria-label="Settings">
	<md-icon aria-label="menu" class="material-icons">menu</md-icon>
	</md-button>
	<h2>
		<span>Something to do with plants</span>
	</h2>
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Favorite">
	<md-icon aria-label="favorite" class="material-icons" style="color: greenyellow;">favorite</md-icon>
	</md-button>
	<md-button class="md-icon-button" aria-label="More">
	<md-icon aria-label="more_vert" class="material-icons">more_vert</md-icon>
	</md-button>
</div>
</md-toolbar>
<div ng-controller="PacketCtrl" ng-cloak>
	<md-content class="md-padding" layout-xs="column" layout="row">
	<md-card ng-repeat="packet in packets">
	<md-card-title>
	<md-card-title-text>
	<span class="md-headline">{{ packet.time }}</span>
	</md-card-title-text>
	</md-card-title>
	<md-card-content>
	<md-list>
	<md-list-item><p>Moisture: {{ packet.moist }}</p></md-list-item>
	<md-list-item><p>Rain: {{ packet.rain }}</p></md-list-item>
	<md-list-item><p>Sunlight: {{ packet.sun }}</p></md-list-item>
	<md-list-item><p>Temperature: {{ packet.temp }}</p></md-list-item>
	</md-list>
	</md-card-content>
	</md-card>
	<!--md-list>
	<md-subheader>Raw data from sensors</md-subheader>
	<md-list-item ng-repeat="packet in packets">
	<div class="md-list-item-text" layout="column">
		<h3>{{ packet.time }}</h3>
		<p>{{ packet.moist }}</p>
	</div>
	</md-list-item>
	</md-list-->
	</md-content>
</div>

<ul id="fromjson"></ul>

<ul>
	<li> Sargis Yonan </li>
	<li> Isaak Cherdak </li>
	<li> August Valera </li>
	<li> Michael Garcia </li>
</ul>

<!-- Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">    
var betterIngredientsBetterPizza = "Papa Johns";
angular.module('MaterialApp', ['ngMaterial'])
.config(function($mdThemingProvider) {
		$mdThemingProvider.theme('default')
		.primaryPalette('light-green')
		.accentPalette('light-blue');
		});
angular.module('FirebaseApp', ['firebase'])
.factory("packetArray", ["$firebaseArray",
		function($firebaseArray) {
		var id = "0";
		var ref = new Firebase('https://burning-fire-9965.firebaseio.com/device/' + id + '/packet/');
		return $firebaseArray(ref);
		}])
.controller("PacketCtrl", ["$scope", "packetArray",
		function($scope, packetArray) {
		$scope.packets = packetArray;	
		}
]);
angular.module('PlantApp', ['MaterialApp', 'FirebaseApp']);
</script>
</body>
</html>
