<html lang="en">
<head>
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script type="text/javascript" src ="http://code.jquery.com/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="PlantApp" ng-cloak>

<md-toolbar>
<div class="md-toolbar-tools">
	<md-button class="md-icon-button" aria-label="Home" href="http://SargisYonan.github.io/Autonomous_Garden_Project/src/site">
	<md-icon aria-label="local_florist" class="material-icons">local_florist</md-icon>
	</md-button>
	<h2>
		<span>#AutoGarden</span>
	</h2>
	<md-progress-circular class="md-accent"></md-progress-circular>
	<span flex></span>
	<md-button aria-label="GitHub" href="http://github.com/SargisYonan/Autonomous_Garden_Project">View source on GitHub
	<md-icon aria-label="track_changes" class="material-icons">track_changes</md-icon>
	</md-button>
</div>
</md-toolbar>
<md-content>
<md-tabs md-dynamic-height>
<md-tab label="Home">
<div ng-controller="PacketCtrl" ng-cloak>
	<md-content class="md-padding" layout-xs="column" layout="column"> 
	<md-card ng-repeat="packet in packets | orderBy:'-$id'">
	<md-card-title>
	<md-card-title-text>
	<span class="md-headline">{{ packet.$id }}</span>
	</md-card-title-text>
	</md-card-title>
	<md-card-content>
	<md-list>
	<md-list-item><p>Moisture: {{ packet.moisture }}</p></md-list-item>
	<md-list-item><p>Temperature: {{ packet.temperature }}</p></md-list-item>
	<md-list-item><p>Valve State: {{ packet.valve_state }}</p></md-list-item>
	</md-list>
	</md-card-content>
	</md-card>
	</md-content>
</div>
</md-tab>
<md-tab label="Data">
<div ng-controller="PacketCtrl" ng-cloak>
	<md-content class="md-padding" layout-xs="column" layout="row">
	<md-card flex>
	<md-card-title>
	<md-card-title-text>
	<span class="md-headline">Moisture</span>
	</md-card-title-text>
	</md-card-title>
	<md-card-content>
	<md-list>
	<md-list-item>
	<h3>Time</h3>
	<span flex></span>
	<h3>Level</h3>
	</md-list-item>
	<md-list-item ng-repeat="packet in packets | orderBy:'-$id'">
	<md-divider md-inset></md-divider>
	<p>{{ packet.$id }}</p>
	<span flex></span>
	<p align="right">{{ packet.moisture }}</p>
	</md-list-item>
	</md-list>
	</md-card-content>
	</md-card>
	<md-card flex>
	<md-card-title>
	<md-card-title-text>
	<span class="md-headline">Temperature</span>
	</md-card-title-text>
	</md-card-title>
	<md-card-content>
	<md-list>
	<md-list-item>
	<h3>Time</h3>
	<span flex></span>
	<h3>Level</h3>
	</md-list-item>
	<md-list-item ng-repeat="packet in packets | orderBy:'-$id'">
	<md-divider md-inset></md-divider>
	<p>{{ packet.$id }}</p>
	<span flex></span>
	<p align="right">{{ packet.temperature }}</p>
	</md-list-item>
	</md-list>
	</md-card-content>
	</md-card>
	</md-content>
</div>
</md-tab>
<md-tab label="Jobs">
<div ng-controller="CommandCtrl" ng-cloak>
	<md-list layout-padding>
	<md-list-item ng-repeat="command in commands | orderBy:'-time'">
	<div class="md-list-item-text">
		<h4>{{ command.time }}</h4>
		<md-chips readonly>
		<md-chip class="md-primary">{{ command.command }}</md-chip>
		<md-chip>{{ command.argument }}</md-chip>
		<md-chips>	
	</div>
	<md-divider></md-divider>
	</md-list-item>
	</md-list>
</div>
</md-tab>
<md-tab label="Settings">
<md-subheader class="md-primary">Device Info</md-subheader>
<div ng-controller="ConfigCtrl" ng-cloak>
	<md-list layout-padding>
	<md-list-item ng-repeat="config in configs">
	<md-input-container>
	<label>{{ config.$id }}</label>
	<input ng-model="config.$value" ng-change="configs.$save(config)">
	</md-input-container>
	</md-list-item>
	</md-list>
</div>
<md-divider></md-divider>
<md-subheader class="md-primary">Commands</md-subheader>
<div ng-controller="CommandCtrl" ng-cloak>
	<md-list layout-padding>
	<md-list-item>
	<p>Enable the device</p><span flex></span>
	<md-button class="md-raised md-primary" ng-click="sendEnable()">Enable</md-button>
	</md-list-item>
	<md-list-item>
	<p>Disable the device</p><span flex></span>
	<md-button class="md-raised md-warn" ng-click="sendDisable()">Disable</md-button>
	</md-list-item>
	<md-list-item>
	<p>Halt the device (minutes)</p>
	<md-slider class="md-accent" flex md-discrete ng-model="configure.halt" min="0" max="255" aria-label="delay"></md-slider>
	<md-button class="md-raised md-accent" ng-click="sendHalt()">Halt</md-button>
	</md-list-item>
	<md-list-item>
	<p>Change moisture setpoint (%)</p>
	<md-slider class="md-accent" flex md-discrete ng-model="configure.setpoint" min="0" max="100" aria-label="level"></md-slider>
	<md-button class="md-raised md-accent" ng-click="sendSetpoint()">Setpoint</md-button>
	</md-list-item>
	<md-list-item>
	<p>Change moisture offset (%)</p>
	<md-slider class="md-accent" flex md-discrete ng-model="configure.offset" min="0" max="100" aria-label="level"></md-slider>
	<md-button class="md-raised md-accent" ng-click="sendOffset()">Offset</md-button>
	</md-list-item>
	<md-list>
</div>
</md-tab>
<md-tab label="Hackers">
<div ng-controller="HackerCtrl" ng-cloak>
	<md-content class="md-padding" layout-xs="row" layout="column">
	<md-card ng-repeat="hacker in hackers | orderBy:'name'">
	<md-card-header>
	<md-card-avatar>
	<img class="md-user-avatar" src="{{ hacker.img }}"/>
	</md-card-avatar>
	<md-card-header-text>
	<span class="md-title">{{ hacker.name }}</span>
	<span class="md-subhead">{{ hacker.git }}</span>
	</md-card-header-text>
	</md-card-header>
	<md-card-actions>
	<md-button href="http://github.com/{{ hacker.git }}">GitHub</md-button>
	</md-card-actions>
	</md-card>	
	</md-content>
</div>
</md-tab>
</md-tabs>
</md-content>
</div>

<!-- Better libraries, better frameworks, PapaJOHNS -->

<!-- Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

<!-- Angular Chart -->
<script src="http://cdn.jsdelivr.net/angular.chartjs/0.7.6/angular-chart.min.js"></script>
<script src="http://cdn.jsdelivr.net/angular.chartjs/0.7.6/angular-chart.min.js.map"></script>
<script src="http://cdn.jsdelivr.net/angular.chartjs/0.7.6/angular-chart.css"></script>
<script src-"http://cdn.jsdelivr.net/angular.chartjs/0.7.6/angular-chart.css.map"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">    
var betterIngredientsBetterPizza = "Papa Johns";
// http://urbandictionary.com/define.php?term=my+mixtape
var mixtapebase = 'https://burning-fire-9965.firebaseio.com/device/';
var deviceid = '4200000069';
angular.module('MaterialApp', ['ngMaterial'])
.config(function($mdThemingProvider) {
		$mdThemingProvider.theme('default')
		.primaryPalette('light-green')
		.accentPalette('brown');
		})
.controller("HackerCtrl", function($scope) {
		$scope.hackers = [
		{name:"Isaak Cherdak",git:"legendddhgf",img:"http://avatars2.githubusercontent.com/u/10329638?v=3&s=400"},
		{name:"Michael Garcia",git:"mgarcia707",img:"http://avatars0.githubusercontent.com/u/16787217?v=3&s=400"},
		{name:"August Valera",git:"4U6U57",img:"http://avatars1.githubusercontent.com/u/4676561?v=3&s=460"},
		{name:"Sargis Yonan",git:"SargisYonan",img:"http://avatars2.githubusercontent.com/u/5349027?v=3&s=400"}
		]});
var app = angular.module('FirebaseApp', ['firebase']);
app.factory("packetArray", ["$firebaseArray",
		function($firebaseArray) {
		var ref = new Firebase(mixtapebase + deviceid + '/packet/').limitToLast(100);	
		return $firebaseArray(ref);
		}]);
app.controller("PacketCtrl", ["$scope", "packetArray",
		function($scope, packetArray) {
		$scope.packets = packetArray;
		}]);
app.factory("configArray", ["$firebaseArray",
		function($firebaseArray) {
		var ref = new Firebase(mixtapebase + deviceid + '/config/').limitToLast(50);
		return $firebaseArray(ref);
		}]);
app.controller("ConfigCtrl", ["$scope", "configArray",
		function($scope, configArray) {
		$scope.configs = configArray;
		}]);
app.factory("commandArray", ["$firebaseArray",
		function($firebaseArray) {
		var ref = new Firebase(mixtapebase + deviceid + '/command/').limitToLast(50);
		return $firebaseArray(ref);
		}]);
app.controller("CommandCtrl", ["$scope", "commandArray",
		function($scope, commandArray) {
		$scope.commands = commandArray;
		$scope.configure = {halt:0,setpoint:0,offset:0};
		$scope.sendEnable = function() {
		var ts = new Date().toUTCString();
		$scope.commands.$add({
time: ts,
command: "ENABLE_SYSTEM_COMMAND",
argument: 0
});
		$scope.command = "";
		};	
		$scope.sendDisable = function() {
		var ts = new Date().toUTCString();
		$scope.commands.$add({
time: ts,
command: "DISABLE_SYSTEM_COMMAND",
argument: 0
});
		$scope.command = "";
};
$scope.sendHalt = function() {
	var ts = new Date().toUTCString();
	$scope.commands.$add({
time: ts,
command: "HALT_SYSTEM_COMMAND",
argument: $scope.configure.halt
});
$scope.command = "";
};
$scope.sendSetpoint = function() {
	var ts = new Date().toUTCString();
	$scope.commands.$add({
time: ts,
command: "CHANGE_MOISTURE_SETPOINT",
argument: $scope.configure.setpoint
});
$scope.command = "";
};
$scope.sendOffset = function() {
	var ts = new Date().toUTCString();
	$scope.commands.$add({
time: ts,
command: "CHANGE_MOISTURE_OFFSET",
argument: $scope.configure.offset
});
$scope.command = "";
};	
}]);
angular.module('ChartApp', ['chart.js'])
.controller("MoistureCtrl", function($scope) {
		});
angular.module('PlantApp', ['MaterialApp', 'FirebaseApp']);
</script>
</body>
</html>
